.title {
    text-align: center;
}

.mew-form {
    width: 50%;
    margin: 0 auto;
}

.loading {
    text-align: center;
}

.mews {
    width: 80%;
    margin: 0 auto;
}

.mew {
    margin-bottom: 1.5em; 
}

.mew-content {
    /* margin: 0 auto; */
    margin-bottom: 0;
    display: block;
}

.mew-header-content {
    display: inline;
}

#mew-name {
    font-weight: bold;
}

.mew-button {
    display: inline;
    margin-right: 0.8em;
}

.mew-header-secondary-content, .mew-button {
    color: rgb(168, 168, 168);
}

.mew-edit-button {
    display: inline;
    margin-right: 0.8em;
}