.title {
    text-align: center;
    font-size: 30px;
}

.secondary-title {
    width: 50%;
    margin: 0 auto 0.5em auto;
}

.failure-flash, .secondary-title {
    padding-left: 0;
}

.injury-form, .failure-flash {
    width: 50%;
    margin: 0 auto;
}

.loading {
    text-align: center;
}

.injuries {
    width: 80%;
    margin: 0 auto;
}

.injury {
    margin-bottom: 1.5em; 
}

.injury-content, .body-diagram-location {
    /* margin: 0 auto; */
    margin-bottom: 0;
    display: block;
}

.injury-header-content {
    display: inline;
}

#injury-name {
    font-weight: bold;
}

.injury-button {
    display: inline;
    margin-right: 0.8em;
}

.injury-header-secondary-content, .injury-button {
    color: rgb(168, 168, 168);
}

.injury-edit-button {
    display: inline;
    margin-right: 0.8em;
}

.failure-flash {
    color: red;
}

.nav {
    text-align: right;
}

.nav-item {
    /* text-align: right; */
    display: inline;
}

canvas {
    /**
     * Set transparent to let any other canvases render through
     */
    background-color: transparent;
}

.canvas-stack {
    /* text-align: center; */
    /* display: inline-block; */
    /* position: relative; */
    /* border: 2px solid pink; */
}

.canvas-layer {
    position: absolute;
    left: 50%;
    /* border: 2px solid green; */
}

.canvas-container {
    position: relative;
    left: -50%;
    /* border: 2px solid green; */
}

#canvas-diagram-layer {
    z-index: 1;
    /* border: 2px solid red; */
}

#canvas-draw-layer {
    z-index: 2;
    /* border: 2px solid green; */
}

#canvas-spacer {
    clear:both;
    /* height: 500px; */
    z-index: 0;
}