.title {
    text-align: center;
}

.secondary-title {
    width: 50%;
    margin: 0 auto 0.5em auto;
}

.failure-flash, .secondary-title {
    padding-left: 0;
}

.mew-form, .failure-flash {
    width: 50%;
    margin: 0 auto;
}

.loading {
    text-align: center;
}

.mews {
    width: 80%;
    margin: 0 auto;
}

.mew {
    margin-bottom: 1.5em; 
}

.mew-content {
    /* margin: 0 auto; */
    margin-bottom: 0;
    display: block;
}

.mew-header-content {
    display: inline;
}

#mew-name {
    font-weight: bold;
}

.mew-button {
    display: inline;
    margin-right: 0.8em;
}

.mew-header-secondary-content, .mew-button {
    color: rgb(168, 168, 168);
}

.mew-edit-button {
    display: inline;
    margin-right: 0.8em;
}

.failure-flash {
    color: red;
}

.nav {
    text-align: right;
}

.nav-item {
    /* text-align: right; */
    display: inline;
}